@use "global" as *;

.layout-grid {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  min-height: 100vh;
}

.layout-grid--teacher {
  @extend .layout-grid;
  // background-color: $bg-teach;
}
