@use "global" as *;

.layout-main {
  padding-top: rem(71);
  padding-bottom: rem(42);
}

.layout-main--teacher {
  @extend .layout-main;
  min-height: calc(100vh - 113px);
}

.layout-main--history {
  @extend .layout-main;
  height: calc(100vh - 113px);
  height: 100vh;
}
