@use "global" as *;

.button-action {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: rem(6) 0;
  font-size: rem(16);
  font-weight: $bold;
  line-height: 1;
  letter-spacing: 0.05em;
  border: 1px solid $lightblue;
  border-radius: rem(5);
  background-color: $white;
  text-transform: uppercase;
}

.button-action span {
  position: relative;
  padding-left: rem(27);
  padding-right: rem(19);
  display: flex;
  align-items: center;
}

.button-action span::before {
  content: "";
  position: absolute;
  display: inline-block;
  left: rem(10);
  width: rem(8);
  height: rem(14);
  background-image: url("../images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.button-action--close {
  @extend .button-action;
  padding: rem(6) 0;
}

.button-action--close span {
  position: relative;
  padding-left: rem(32);
  padding-right: rem(13);
  display: flex;
  align-items: center;
}

.button-action--close span::before {
  content: "";
  position: absolute;
  display: inline-block;
  left: rem(13);
  width: rem(13);
  height: rem(13);
  background-image: url("../images/icon-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.button-action--extension,
.button-action--end {
  @extend .button-action;
  padding: rem(11) 0;
  font-size: rem(18);
  letter-spacing: 0.1em;
  color: $white;
  width: rem(160);
  max-width: 100%;
}

.button-action--extension {
  background-color: $skyblue;
}

.button-action--end {
  @extend .button-action;
  background-color: $blue6;
}

.button-action--extension span,
.button-action--end span {
  padding-left: rem(22);
  padding-right: initial;
}

.button-action--extension span::before,
.button-action--end span::before {
  left: 0;
  width: rem(19);
  height: rem(19);
}

.button-action--extension span::before {
  background-image: url("../images/icon-clock.svg");
}

.button-action--end span::before {
  background-image: url("../images/icon-check.svg");
}

.button-action--w {
  @extend .button-action;
}

.button-action--w span {
  padding-left: rem(30);
  padding-right: rem(12);
}

.button-action--w span::before {
  left: rem(10);
  width: rem(14);
  height: rem(14);
}

.button-action--w span::before {
  background-image: url("../images/icon-w-arrow.svg");
}
