@use "global" as *;

.button-action {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: rem(6) 0;
  font-size: rem(16);
  font-weight: $bold;
  line-height: 1;
  letter-spacing: 0.05em;
  border: 1px solid $lightblue;
  border-radius: rem(5);
  background-color: $white;
}

.button-action span {
  position: relative;
  padding-left: rem(27);
  padding-right: rem(19);
  display: flex;
  align-items: center;
}

.button-action span::before {
  content: "";
  position: absolute;
  display: inline-block;
  left: rem(10);
  width: rem(8);
  height: rem(14);
  background-image: url("../images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.button-action--close {
  @extend .button-action;
  padding: rem(6) 0;
}

.button-action--close span {
  position: relative;
  padding-left: rem(32);
  padding-right: rem(13);
  display: flex;
  align-items: center;
}

.button-action--close span::before {
  content: "";
  position: absolute;
  display: inline-block;
  left: rem(13);
  width: rem(13);
  height: rem(13);
  background-image: url("../images/icon-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
