@use "global" as *;

.unit {
  height: 100%;
  padding-bottom: rem(24);
  overflow-y: auto;
}

.unit__inner {
  height: inherit;
}

.inner {
}

.unit__tab {
  height: inherit;
}

.unit--delta {
  @extend .unit;
  max-height: calc(100vh - 130px);
  padding-bottom: rem(10);
}
